@import url(common.css);
@import url(header.css);
@import url(detail.css);








/*---------- mainpage style ----------*/




/* 공통 */
#fullpage {width:100%;height:100%;}
.fp-tableCell {
  /* background-color: #222 !important; */
  background-color: #272829 !important;
}
.fp-tableCell>h1.title {color: #fff !important;width: 1200px;text-align: left;margin: 0 auto 20px;font-family: Poppins, Pretendard, "sans-serif";font-weight: bold;} 




.section {font-size: 2.5vw;position: relative;}
.swiper-container {
  width: 100%;
  background-color: #272829;
  /* background-color: rgb(34, 34, 34); */
}
.swiper-wrapper {position: relative;width: 1200px;margin: 0 auto;}
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;  
}
.swiperArr {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 1400px;height: 100px;z-index: 100;}
/* .swiperArr .swiper-button-next {position: absolute;right: 100px;} */
.swiper-button-prev, .swiper-button-next {z-index: 100 !important;}
.swiper-button-prev::after,
.swiper-button-next:after {color: #fff !important;z-index: 100 !important;}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {opacity: 1 !important;}
.swiper-pagination-bullet {background-color: #eee !important;}
.swiper-pagination-bullet-active {background-color:rgba(12, 231, 231, 0.7) !important; box-shadow: 0.5px 0.5px 2px 3px rgba(8, 207, 207, 0.7) !important;}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {bottom: 100px !important;}






/* swiper 컨텐츠 공통 */
.webPuContent {    
  height: 50%;
  width: 1200px;
  margin: 0 auto;
  margin-left: 0;
}
.webPuContent>div {width: 100%;height: 100%;display: flex;column-gap: 50px;align-items: center;}
.webPuContent.webPuContent04>div {column-gap: 20px;}
.webPuContent>div>div {flex: 1;}
.webPuContent>div>div:nth-child(2) {flex: 1;}
.webPuContent>div>div>img {width: 100%;border-radius: 10px;}
.webPuContent>div>div:nth-child(2) {text-align: left;}
.webPuContent>div>div:nth-child(2)>h1 {color: #fff;font-size:30px;font-family: Poppins, Pretendard,  'Noto sans KR', "sans-serif";}
.webPuContent>div>div:nth-child(2)>p {font-size: 20px;font-family: 'Noto sans KR',sans-serif;font-weight: 600;color: #ddd;letter-spacing: -0.05em;}
.webPuContent>div>div:nth-child(2)>ul {display: flex;margin-top: 30px;gap: 10px;flex-wrap: wrap;}
.webPuContent>div>div:nth-child(2)>ul>li {

  font-size: 16px;
  /* border: 0.12rem solid rgba(17, 191, 197,0.5); */
  /* border: 2px solid rgba(12, 231, 231, 0.6); */
  border-radius: 10rem;
  font-size: 16px;
  /* background-color: rgb(17, 191, 197); */
  /* color: rgba(10, 241, 241, 0.9); */
  /* color: rgb(17, 191, 197); */
  /* border-bottom: 1px solid  rgb(17, 191, 197); */
  /* border: 0.12rem solid #aaa; */
  /* border: 0.12rem solid rgb(106, 248, 149); */
  padding: 0.3rem 0.5rem;
  color: rgb(17, 191, 197);;
  border: 0.15rem solid rgba(17, 191, 197,0.5)
}
.webPuContent>div>div:nth-child(2)>button {
  color: #fff;
  font-size: 16px;
  /* background-color: rgba(17, 191, 197,0.5); */
  /* background-color: rgba(10, 239, 239, 0.5); */
  border-radius: 15px;
  /* padding: 8px 20px; */
  padding: 0.4rem 1.2rem;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgb(17, 191, 197);
  background-color: rgba(17, 191, 197,0.2);
}
.webPuContent>div>div:nth-child(2)>button:hover {
  background-color: rgb(17, 191, 197);
  color: #111;
  font-weight: bold;
}





























/* ////////// 01 main  ////////// */
/* 커튼 효과 */
.curtain {
  box-sizing:border-box;
  overflow:hidden;
  width:100%;
  height:100vh;
  z-index: 500;
}
.notice {
  position: absolute;
  z-index: 10000;
  color: #fff;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 450px;
  padding: 20px;
  transform: translate(-50%,-50%);
  text-align: center;
  border-radius: 50px;
  background: linear-gradient(145deg, #242424, #1f1f1f);
  box-shadow:  26px 26px 52px #0e0e0e,
               -26px -26px 52px #363636;
}

.notice>h1 {font-size: 24px;letter-spacing: -0.05em;font-weight: 500;}
.notice>p {font-size: 22px;letter-spacing: -0.05em;font-weight: 500;margin-top: 10px;}
.notice>div{margin-top: 50px;width: 100%;height: 90%;}
.notice>div>div>p {font-size: 20px;letter-spacing: -0.05em;}




/* circle progress bar */
.second.circle>canvas {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #222222;
  box-shadow: inset 19px 19px 38px #0e0e0e,inset -19px -19px 38px #363636;
  position: relative;
}
.second.circle.ani {animation: ani 1.5s linear;}
@keyframes ani {
  0% {opacity: 1;}
  50% {opacity: 0.5;}
  60% {opacity: 1;}
}
.second.circle .perc {
  font-size: 22px;
  color: #999;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
}



/* start 문구 애니메이션 */
.btnBg {border-radius: 30px;width: 100%;margin: 40px auto 0;text-align: center;}
.btnBg button {cursor: unset;}
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 1em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
.hover-text.active {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}






/* 메인 페이지 */
.curtain__panel {
  width:50%;
  height:100vh;
  float:left;
  position:relative;
  z-index:2;
  transition:all .5s ease-out;
}
.curtain__panel--left,
.curtain__panel--right {background-color: #222;}

.mainContent {
  position:absolute;
  z-index:1;
  left:0;
  top:0;
  width:100%;
  height:100%;
  vertical-align:middle;
  text-align:center;
  font-size:30vh;
  color:#fff;
  background: url(../img/mainImg03.png) no-repeat center center;
  background-size: contain;
  background-blend-mode: multiply;
}
.mainContent:before {
  content:'';
  display:inline-block;
  width:0;
  height:100%;
  vertical-align:middle;
}
.mainContent .imgWrap .titleBox {
  width:100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  z-index: 100;
}
.mainContent .imgWrap .titleBox .mainTitle h2 {
  font-family: 'Tangerine', cursive;
  font-size:16rem;
  letter-spacing: 6px;
  font-weight:bold;
  color:#fff;
  text-align:center;  
}













/* ////////// 02 about  ////////// */
.profileContent {
  margin: 0 auto;
  width: 1200px;
  height:50%;
  display: flex;
  column-gap: 50px;
}
.profileContent>div:nth-child(1) {flex: 4;}
.profileContent>div:nth-child(1)>div {flex: 1;}
.profileContent>div:nth-child(1)>div>img {width: 100%;border-radius: 20px;}
.profileContent>div:nth-child(1)>div>p {color: #ddd;font-size: 16px;margin-top: 30px;}
.profileContent>div:nth-child(1)>div>p:nth-of-type(1) {font-weight: bold;color: #eee;font-size: 18px;}
.profileContent>div:nth-child(1)>div>p.mobile {display: none;}
.profileContent>div:nth-child(1)>div>p.nomobile {display: block;}
.profileContent>div:nth-child(2) {flex: 3.5;text-align: left;}
.profileContent>div:nth-child(2)>p {color: #fff;font-size:22px;font-family: Poppins, Pretendard, "sans-serif";}




.profileContent>h2 {
  display: inline-block;
  margin-top: 60px;
  margin-left: 80px;
  font-family: 'QumpellkaNo12';
  font-size: 45px;
  font-style: italic;
  font-weight: 400;
  color: #555;
}

.profileContent>div:nth-child(2) ul {margin-bottom: 20px;}
.profileContent>div:nth-child(2) ul li {font-size: 16px;color: #fff;margin-top: 15px;}
.profileContent>div:nth-child(2) ul li:nth-child(1) {margin-top: 10px;}
.profileContent>div:nth-child(2) ul li span {color: #aaa;}
.profileContent>div:nth-child(2) ul li b {color: #eee;}

.profileContent>div:nth-child(2)>div {margin-bottom: 20px;}
.profileContent>div:nth-child(2)>div>p {font-size: 16px;color: #aaa;}
.profileContent>div:nth-child(2)>div>p:nth-child(1) {font-size: 22px;color: #fff;font-family: Poppins, Pretendard, "sans-serif";margin-bottom: 0;}


.profileContentFlex {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 550px;
  width: 90%;
  top: 36%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: relative;
}
.profile1 {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}
.imgprofileFlex {
  margin-top: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.profileimg {
  flex: 2;
  position: relative;
}
.profileimg:before {
  content: '';
  position: absolute;
  background: url(../img/profileimg7.jpg) no-repeat left center;
  width: 125%;
  height: 85%;
  top: 30%;
  left: 65%;
  border-radius: 10px;
  transform: translate(-65%,-50%);
  background-size: cover;
  box-shadow: 3px 3px 10px #aaa;
}











/* ////////// footer  ////////// */




/* .swiper-container {width: 100%;background-color: rgb(34, 34, 34);}
.swiper-wrapper {position: relative;width: 1200px;margin: 0 auto;}
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;  
} */


.slickImg {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.slick {margin: auto;}
.slickslider {margin: auto;margin-top: 40px;position: relative;}
.slickslider div {width: 100%;height: 200px;}
.slickslider img{position: relative;width: 100%;height: 100%;object-fit: cover;}
.slickslider .slick-prev {
  background-color: transparent;
  color: transparent;
  border: none;
  position: absolute;
  left: 0;
  z-index: 1000;
  height: 40px;
  width: 30px;
  top: 50%;
}
.slickslider .slick-prev:before {
  position: absolute;
  content: "\e906";
  font-family: xeicon; 
  top: 0;
  left: 0;
}
.slickslider .slick-next {
  background-color: transparent;
  color: transparent;
  border: none;
  position: absolute;
  right: 0;
  z-index: 1000;
  height: 40px;
  width: 30px;
  top: 50%;
}
.slickslider .slick-next:before {
  position: absolute;
  content: "\e907";
  top: 0;
  right: 0;
}
.slickslider .slick-prev:before, 
.slickslider .slick-next:before {
  font-family: 'xeicon';
  position: absolute;
  width: inherit;
  height: inherit;
  line-height: 40px;
  color: #fff;
  background-color: rgba(51, 51, 51,0.7);
}
.slickslider .slick-dots {display: none !important;}

.fp-tableCell>h1.foottitle {text-align: center;margin: 30px auto 0;}
.sec5 p.footsbtitle {color: #aaa;font-size: 13px;text-align: center;margin-top: 20px;}


/* .footer {
  background-color: #000;
  height: 100px;
  position : relative;
  transform : translateY(50%);
  text-align: center;
  width: 100%;
  padding: 40px 0 40px 0;
}
.footer>p {color: #aaa;font-size: 13px;} */










/* react */

/* works */

/* publishing */
/* .sec4 {border: 1px solid #fff;}
.sec4>h1 {color: #fff;font-size: 40px;font-family: Poppins, Pretendard, "sans-serif";text-align: left;} */

/* planning */



/* 작은 PC 1 */
@media (min-width : 1440px) and (max-width : 1600px) {
  .index .swiperArr {width: 1200px;}
  .index .swiper-wrapper {width: 1000px;}
  .fp-tableCell>h1.title {width: 1000px;}
  .profileContent  {width: 1000px;}
  .webPuContent {width: 1000px;}

}


/* 작은 PC 2 */
@media (min-width : 1200px) and (max-width : 1439.9px) {
  .index .swiperArr {width: 1100px;}
  .index .swiper-wrapper,
  .slickImg {width: 900px;}
  .fp-tableCell>h1.title {width: 900px;}
  .fp-tableCell>h1.foottitle {margin: 20px auto;}
  .profileContent {width: 900px;}
  .webPuContent {width: 900px;}
  .mainContent .imgWrap .titleBox .mainTitle h2 {font-size: 12rem;}
  .profileContent>div:nth-child(1)>p,
  .profileContent>div:nth-child(2)>div>p,
  .profileContent>div:nth-child(2) ul li {font-size: 14px;}
  .profileContent>div:nth-child(2) ul li {margin-top: 8px;}
  .profileContent>div:nth-child(2)>p,
  .profileContent>div:nth-child(2)>div>p:nth-child(1) {font-size: 18px;}
  .webPuContent>div>div:nth-child(2)>ul>li {font-size: 13px;}
  .webPuContent>div>div:nth-child(2)>button {padding: 5px 15px;font-size: 14px;}
  .slickslider {margin: 0;padding-bottom: 50px;}
  .slickslider02 {display: none !important;}
  .slickslider div {height: 150px;}
  .slick-prev, .slick-next {display: none !important;}
  .webPuContent > div > div:nth-child(2) > ul {flex-wrap: wrap;gap: 5px;}
  .webPuContent>div>div:nth-child(2)>ul {margin-top: 18px;}
}

@media (min-width : 1200px) and (max-width : 1600px) {
  .webPuContent>div>div:nth-child(2)>ul>li {font-size: 15px;}
}



/* tablet 1*/
@media (min-width : 1024px) and (max-width : 1199.9px) {
  .index .swiperArr {width: 924px;}
  .index .swiper-wrapper,
  .slickImg {width: 724px;}
  .fp-tableCell>h1.title {width: 724px;}
  .fp-tableCell>h1.foottitle {margin-bottom: 20px;}
  .profileContent {width: 724px;}
  .webPuContent {width: 724px;}
  .mainContent .imgWrap .titleBox .mainTitle h2 {font-size: 12rem;}
  .profileContent>div:nth-child(1)>p,
  .profileContent>div:nth-child(2)>div>p,
  .profileContent>div:nth-child(2) ul li {font-size: 14px;}
  .profileContent>div:nth-child(2) ul li {margin-top: 8px;}
  .profileContent>div:nth-child(2)>p,
  .profileContent>div:nth-child(2)>div>p:nth-child(1) {font-size: 18px;}
  .webPuContent>div>div:nth-child(2)>ul>li {font-size: 13px;}
  .webPuContent>div>div:nth-child(2)>button {padding: 5px 15px;font-size: 14px;margin-top: 20px;}
  .slickslider {margin: 0;padding-bottom: 50px;}
  .slickslider02 {display: none !important;}
  .webPuContent>div>div:nth-child(2)>h1 {font-size: 20px;}
  .webPuContent>div>div:nth-child(2)>p {font-size: 16px;}
  .webPuContent>div>div:nth-child(2)>ul {flex-wrap: wrap;margin-top: 20px;gap: 8px;}
  .slickslider div {height: 100px;}
  .slick-prev, .slick-next {display: none !important;}
}

/* tablet 2*/
@media (min-width : 768px) and (max-width : 1023.9px) {
  .index .swiperArr {width: 700px}
  .index .swiper-wrapper,
  .slickImg {width: 600px;}
  .fp-tableCell>h1.title {width: 490px;font-size: 25px;}
  .fp-tableCell>h1.title.aboutTitle {width: 600px;}
  .fp-tableCell>h1.foottitle {margin-bottom: 20px;}
  .profileContent  {width: 600px;flex-direction: column;}
  .webPuContent {width: 600px;}
  .mainContent .imgWrap .titleBox .mainTitle h2 {font-size: 8rem;}
  .profileContent>div:nth-child(1)>p,
  .profileContent>div:nth-child(2)>div>p,
  .profileContent>div:nth-child(2) ul li {font-size: 13px;}
  .profileContent>div:nth-child(2) ul li {margin-top: 8px;}
  .profileContent>div:nth-child(2)>p,
  .profileContent>div:nth-child(2)>div>p:nth-child(1) {font-size: 16px;}
  .webPuContent>div>div:nth-child(2)>ul>li {font-size: 13px;}
  .webPuContent>div>div:nth-child(2)>button {padding: 5px 15px;font-size: 14px;margin-top: 20px;}
  .slickslider {margin: 0;padding-bottom: 50px;}
  .slickslider02 {display: none !important;}
  .webPuContent>div>div:nth-child(2)>h1 {font-size: 20px;}
  .webPuContent>div>div:nth-child(2)>p {font-size: 16px;}
  .webPuContent>div>div:nth-child(2)>ul {flex-wrap: wrap;margin-top: 20px;gap: 5px;}

  .webPuContent>div {flex-direction: column;align-items: start;margin: 0 auto; width: 80%;row-gap: 20px;}


  .profileContent>div:nth-child(1) {display: flex;column-gap: 20px;}
  .profileContent>div:nth-child(1)>div:nth-child(1) {flex: 2;}
  .profileContent>div:nth-child(1)>div:nth-child(2) {flex: 3;}
  .profileContent>div:nth-child(1)>div>img {width: 100%;}

  .profileContent>div:nth-child(1)>div>p.mobile {display: block;}
  .profileContent>div:nth-child(1)>div>p.nomobile {display: none;}

  .profileContent>div:nth-child(1)>div>p {margin-top: 0;}
  .profileContent>div:nth-child(1)>div>p:nth-of-type(1) {font-size: 14px;}
  .profileContent>div:nth-child(1)>div>p.mobile {font-size: 12px;}
  .profileContent>div:nth-child(2) ul {margin-bottom: 10px;}
  .profileContent>div:nth-child(2) {margin-top: 20px;}
  .profileContent>div:nth-child(2) ul li>span>b {width: 40%;display: inline-block;}
  .profileContent>div:nth-child(2) ul li>span {font-size: 13px;}
  .profileContent>div:nth-child(2) ul li>span>br {display: none;}

  .notice {width: 200px;height: 350px;}
  .second.circle>canvas {width: 150px !important;height: 150px !important;}
  .slickslider div {height: 100px;}
  .slick-prev, .slick-next {display: none !important;}
}


/* mobile */
@media (min-width : 320px) and (max-width : 767.9px) {
  .fp-tableCell {padding: 150px 20px 0;}
  .index .swiperArr {display: none;}
  .swiper-wrapper,
  .slickImg {width: 100%;}
  .fp-tableCell>h1.title {width: 100%;font-size: 25px;}
  .fp-tableCell>h1.title.aboutTitle {width: 100%;}
  .profileContent  {width: 100%;flex-direction: column;height: auto;}
  .webPuContent {width: 100%;}
  .mainContent .imgWrap .titleBox .mainTitle h2 {font-size: 6rem;}
  .profileContent>div:nth-child(1)>p,
  .profileContent>div:nth-child(2)>div>p,
  .profileContent>div:nth-child(2) ul li {font-size: 13px;}
  .profileContent>div:nth-child(2) ul li {margin-top: 8px;}
  .profileContent>div:nth-child(2)>p,
  .profileContent>div:nth-child(2)>div>p:nth-child(1) {font-size: 16px;}
  .webPuContent>div>div:nth-child(2)>ul>li {font-size: 13px;}
  .webPuContent>div>div:nth-child(2)>button {padding: 5px 15px;font-size: 14px;margin-top: 20px;}
  .slickslider {margin: 0;padding-bottom: 50px;}
  .slickslider02 {display: none !important;}
  .webPuContent>div>div:nth-child(2)>h1 {font-size: 20px;}
  .webPuContent>div>div:nth-child(2)>p {font-size: 16px;}
  .webPuContent>div>div:nth-child(2)>ul {flex-wrap: wrap;margin-top: 20px;gap: 5px;}

  .webPuContent>div {flex-direction: column;align-items: start;margin: 0 auto; width: 100%;row-gap: 20px;}


  .slickImg {display: none;}
  .webPuContent>div>div:nth-child(2) {width: 100%;}

  .profileContent>div:nth-child(1) {display: flex;column-gap: 20px;flex-direction: column;}
  .profileContent>div:nth-child(1)>div:nth-child(1) {flex: 2;}
  .profileContent>div:nth-child(1)>div:nth-child(2) {flex: 3;margin-top: 20px;}
  .profileContent>div:nth-child(1)>div>img {width: 100%;max-width: 500px;}

  .profileContent>div:nth-child(1)>div>p.mobile {display: block;}
  .profileContent>div:nth-child(1)>div>p.nomobile {display: none;}

  .profileContent>div:nth-child(1)>div>p {margin-top: 0;}
  .profileContent>div:nth-child(1)>div>p:nth-of-type(1) {font-size: 14px;}
  .profileContent>div:nth-child(1)>div>p.mobile {font-size: 12px;}
  .profileContent>div:nth-child(2) ul {margin-bottom: 10px;}
  .profileContent>div:nth-child(2) {margin-top: 20px;}
  .profileContent>div:nth-child(2) ul li>span>b {width: 100%;display: inline-block;}
  .profileContent>div:nth-child(2) ul li>span {font-size: 13px;}
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {bottom: 0 !important;}
  .notice, .curtain__panel {display: none;}
  .swiper-container {overflow: hidden;}



  
}

