@import url(common.css);
@import url(header.css);
@import url(detail.css);








/*---------- mainpage style ----------*/




/* 공통 */
#fullpage {width:100%;height:100%;}
.fp-tableCell {background-color: #222 !important;}
.fp-tableCell>h1.title {color: #fff !important;width: 1200px;text-align: left;margin: 0 auto 20px;font-family: Poppins, Pretendard, "sans-serif";font-weight: bold;} 

.section {font-size: 2.5vw;}
.swiper-container {width: 100%;background-color: #222;}
.swiper-wrapper {position: relative;width: 1200px;margin: 0 auto;}
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;  
}
.swiperArr {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 1400px;height: 100px;z-index: 100;}
/* .swiperArr .swiper-button-next {position: absolute;right: 100px;} */
.swiper-button-prev, .swiper-button-next {z-index: 100 !important;}
.swiper-button-prev::after,
.swiper-button-next:after {color: #fff !important;z-index: 100 !important;}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {opacity: 1 !important;}
.swiper-pagination-bullet {background-color: #eee !important;}
.swiper-pagination-bullet-active {background-color:rgba(12, 231, 231, 0.596) !important; box-shadow: 0.5px 0.5px 2px 3px rgba(8, 207, 207, 0.596) !important;}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {bottom: 100px !important;}






/* swiper 컨텐츠 공통 */
.webPuContent {    
  height: 50%;
  width: 1200px;
  margin: 0 auto;
  margin-left: 0;
}
.webPuContent>div {width: 100%;height: 100%;display: flex;column-gap: 50px;align-items: center;}
.webPuContent>div>div {flex: 1;}
.webPuContent>div>div:nth-child(2) {flex: 1;}
.webPuContent>div>div>img {width: 100%;border-radius: 10px;}
.webPuContent>div>div:nth-child(2) {text-align: left;}
.webPuContent>div>div:nth-child(2)>h1 {color: #fff;font-size:30px;font-family: Poppins, Pretendard,  'Noto sans KR', "sans-serif";}
.webPuContent>div>div:nth-child(2)>p {font-size: 20px;font-family: 'Noto sans KR',sans-serif;font-weight: 600;color: #ddd;letter-spacing: -0.5px;}
.webPuContent>div>div:nth-child(2)>ul {display: flex;margin-top: 30px;column-gap: 10px;}
.webPuContent>div>div:nth-child(2)>ul>li {
  border: 1px solid rgba(12, 231, 231, 0.596);
  border-radius: 30px;
  font-size: 14px;
  color: rgba(10, 241, 241, 0.829);
  padding: 5px 10px;
}
.webPuContent>div>div:nth-child(2)>button {
  color: #fff;
  font-size: 16px;
  background-color: rgba(10, 239, 239, 0.4);
  border-radius: 15px;
  padding: 8px 20px;
  text-align: center;
  border: none;
}




/* main - curtain */
/* 커튼 효과 */
.curtain {
  box-sizing:border-box;
  overflow:hidden;
  width:100%;
  height:100vh;
}
.curtain__panel {
  background:orange;
  width:50%;
  height:100vh;
  float:left;
  position:relative;
  z-index:2;
  transition:all .5s ease-out;
}
.curtain__prize {
  /* background:#369; */
  position:absolute;
  z-index:1;
  left:0;
  top:0;
  width:100%;
  height:100%;
  vertical-align:middle;
  text-align:center;
  font-size:30vh;
  color:#fff;

  background: url(../img/mainImg03.png) no-repeat center center;
  background-size: contain;
  border-radius: 250px 250px 200px 200px;
}
.curtain__prize:before {
  content:'';
  display:inline-block;
  width:0;
  height:100%;
  vertical-align:middle;
}
[type="checkbox"] {
  position:absolute;
  cursor:pointer;
  width:100%;
  height:100%;
  z-index:100;
  opacity:0;
}
[type="checkbox"]:checked ~ .curtain__panel--left {
  transform:translateX(-100%)
}
[type="checkbox"]:checked ~ .curtain__panel--right {
  transform:translateX(100%)
}


/* typing plugIn*/
#m0 {
  width:100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  z-index: 100;
}
#m0 h2 {
  font-family: 'Tangerine', cursive;
  font-size:10rem;
  letter-spacing: 6px;
  font-weight:bold;
  color:#fff;
  text-align:center;  
}




















/* about */
.profileContent {
  margin: 0 auto;
  width: 1200px;
  height:50%;
  display: flex;
  column-gap: 50px;
}
.profileContent>div:nth-child(1) {flex: 4;}
.profileContent>div:nth-child(1)>img {width: 80%;border-radius: 20px;}
.profileContent>div:nth-child(1)>p {color: #ddd;font-size: 16px;margin-top: 30px;}
.profileContent>div:nth-child(1)>p:nth-of-type(1) {font-weight: bold;color: #eee;font-size: 18px;}
.profileContent>div:nth-child(2) {flex: 3;text-align: left;}
.profileContent>div:nth-child(2)>p {color: #fff;font-size:22px;font-family: Poppins, Pretendard, "sans-serif";}




.profileContent>h2 {
  display: inline-block;
  margin-top: 60px;
  margin-left: 80px;
  font-family: 'QumpellkaNo12';
  font-size: 45px;
  font-style: italic;
  font-weight: 400;
  color: #555;
}

.profileContent>div:nth-child(2) ul {margin-bottom: 20px;}
.profileContent>div:nth-child(2) ul li {font-size: 16px;color: #fff;margin-top: 15px;}
.profileContent>div:nth-child(2) ul li:nth-child(1) {margin-top: 10px;}
.profileContent>div:nth-child(2) ul li span {color: #aaa;}
.profileContent>div:nth-child(2) ul li b {color: #eee;}

.profileContent>div:nth-child(2)>div {margin-bottom: 20px;}
.profileContent>div:nth-child(2)>div>p {font-size: 16px;color: #aaa;}
.profileContent>div:nth-child(2)>div>p:nth-child(1) {font-size: 22px;color: #fff;font-family: Poppins, Pretendard, "sans-serif";margin-bottom: 0;}


.profileContentFlex {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 550px;
  width: 90%;
  top: 36%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: relative;
}
.profile1 {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}
.imgprofileFlex {
  margin-top: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.profileimg {
  flex: 2;
  position: relative;
}
.profileimg:before {
  content: '';
  position: absolute;
  background: url(../img/profileimg7.jpg) no-repeat left center;
  width: 125%;
  height: 85%;
  top: 30%;
  left: 65%;
  border-radius: 10px;
  transform: translate(-65%,-50%);
  background-size: cover;
  box-shadow: 3px 3px 10px #aaa;
}
.profiletext {
  margin-top: 20px;
  display: flex;
  flex: 1;
  position: relative;
}
.info {
  width: 100%;
  display: flex;
  position: absolute;
  top: 26%;
  left: 45%;
  transform: translate(-50%,-50%);
}
.leftLine {
  position: absolute;
  flex: 1;
  margin-top: 20px;
  margin-left: 10px;
  border: 1px solid #444;
  width: 2px;
  height: 84%;
  background-color: #444;
}
.leftLineex {
  margin-top: 0;
  height: 25px;
  margin-left: 0;
}
.leftLinece {
  margin-top: 90px;
  height: 25px;
  margin-left: 0;
}
.leftLinesk {
  margin-top: 60px;
  height: 25px;
  margin-left: 0;
}
.leftLinsubesk {
  margin-top: 30px;
  height: 25px;
  margin-left: 0;
}

.info ul {
  flex: 1;
  margin-left: 45px;
}
.info>ul>li {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #444;
  font-family: 'Noto sans', sans-serif;
}

.rightProfile {
  flex: 3;
  margin-left: 180px;
  transform: translateY(-70px);
  height: 800px;
  color: #fff;
}
.rightProfile h2 {
  font-family: 'PuradakGentleGothicR';
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-align: left;
  line-height: 28px;
}
.rightProfile p {
  font-size: 16px;
  font-weight: 500;
  color: #ddd;
  font-family: 'Noto sans', sans-serif;
}
.experience {
  display: flex;
  border: 1px solid #fff;
}
.experience span {
  font-size: 17px;
}
.experience h2 {
  margin-left: 20px;
}
.experience>div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}
.experience>div>p {
  margin-left: 160px;
}
.certifi {
  margin-top: 90px;
  display: flex;
}
.certifi>div:nth-child(1),
.skills>div:nth-child(1) {
  display: flex;
}
.certifi h2, .skills h2 {
  margin-left: 20px;
}
.certifi p {
  margin-left: 160px;
}
.skills {
  margin-top: 60px;
  display: flex;
}
.skills p {
  margin-left: 180px;
}
.skill-progress {
  margin-top: 40px;
  margin-left: 280px;
  box-sizing: border-box;  
  width: 500px;
  transform: translateY(-40px);
  border-radius: 10px;
  color: #fff;
}
.skillitem {
  width: 100%;
  position: relative;
  margin-top: 20px;
}
.skillitem img {
  position: absolute;
  right: 100%;
  width: 6%;
  margin-right: 20px;
  bottom: 0;
}
.skillitem span {
  color: #444;
  position: absolute;
  left: 100%;
  font-size: 13px;
  margin-left: 20px;
  bottom: 0;
}
.progress {
  border: 1px solid #666;
  padding: 3px;
  border-radius: 3px;
}
.progress-level{
  height: 10px;
  background-color: rgb(10, 205, 206);
  animation: ani 5s;
  animation-fill-mode: both;
  border-radius: 10px;
}
@keyframes ani {
  0% {   
    width: 0;
  }
}
.skill-progress .skillitem:nth-of-type(1) .progress-level { 
  animation-delay: 1.7s;
}
.skill-progress .skillitem:nth-of-type(2) .progress-level {  
  animation-delay: 1.9s;
}
.skill-progress .skillitem:nth-of-type(3) .progress-level {  
  animation-delay: 2.1s;
}
.skill-progress .skillitem:nth-of-type(4) .progress-level {  
  animation-delay: 2.3s;
}
.skill-progress .skillitem:nth-of-type(5) .progress-level {  
  animation-delay: 2.5s;
}
.subskill {
  margin-top: 30px;
  display: flex;
}
.subskill>div {
  display: flex;
  margin-left: 180px;
}
.subskill h2 {
  margin-left: 20px;
}
.subskill>div>div {
  width: 50px;
  height: 50px;
  width: 100px;
  margin-right: 30px;
}




/* react */

/* works */

/* publishing */
/* .sec4 {border: 1px solid #fff;}
.sec4>h1 {color: #fff;font-size: 40px;font-family: Poppins, Pretendard, "sans-serif";text-align: left;} */

/* planning */




@media (min-width : 1440px) and (max-width : 1600px) {
  .swiperArr {width: 1200px;}
  .swiper-wrapper {width: 1000px;}
  .fp-tableCell>h1.title {width: 1000px;}
  .profileContent  {width: 1000px;}
  .webPuContent {width: 1000px;}
}